{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细</title>
    <script
            src="http://www.google.cn/maps/api/js?key=AIzaSyBzE9xAESye6Kde-3hT-6B90nfwUkcS8Yw&sensor=false">
    </script>
    <script>
        function initialize()
        {
            var mapProp = {
                center:new google.maps.LatLng({{ LN }}, {{ LE }}),
                zoom:17,
                mapTypeId:google.maps.MapTypeId.HYBRID
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <link rel="stylesheet" href="{% static "searchapp/css/detial.css" %}"/>
    <link rel="stylesheet" href="{% static "searchapp/css/xq_navbar.css" %}"/>
    <link rel="stylesheet" href="{% static "searchapp/css/xq.css" %}"/>
</head>

<body>
{% include "searchapp/seh_login.html" %}
<div class="all_div">
    {% include "searchapp/seh_navbar.html" %}
    <div class="map_data">
        <div id="googleMap"></div>
        <br/>
        <p>Server: {{ server }} | Prowerd: {{ prowerd }} | Title: {{ title }}</p>
        <hr color="#28FEFC"/>
        <br/>
        <div class="data_detial">
            <div class="data_detial_left">
                <table width="100%" border="1">
                    <tr>
                        <th>IP</th>
                        <th>洲</th>
                        <th>国家</th>
                        <th>城市</th>
                        <th>北纬</th>
                        <th>东经</th>
                        <th>时区</th>
                    <tr>
                        <td>{{ ip }}</td>
                        <td>{{ continent }}</td>
                        <td>{{ country }}</td>
                        <td>{{ city }}</td>
                        <td>{{ location.latitude }}</td>
                        <td>{{ location.longitude }}</td>
                        <td>{{ time_zone }}</td>
                    </tr>
                </table>
            </div>
            <div class="data_detial_right">
                <div class="data_text">
                    <pre>{{ read }}</pre>
                </div>
            </div>
        </div>
        <P><h3>开放端口及主机信息</h3></P>
        <hr color="#28FEFC"/>
        <div class="port_detial" align="center">
            <br/>
            <br/>
            {% include "searchapp/seh_loadstatev2.html" %}
            <div id="port_detial_list">
                <h3>主机系统:<span id="os"></span>|HostName:<span id="hostname"></span></h3>
                <table id="port_detial_list_table" border="1px" width="100%"></table>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="end">
            <p align="center" style="color: #6198A4" >
                MY WAY OR THE HIGHWAY<br/>
                Copyright© Elloit Alderson Team. Version 1.1
            </p>
        </div>
    </div>
</div>
<script src="{% static "searchapp/js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "searchapp/js/xq_navbar.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $("#bar1").xq_navbar({"type":"underline","liwidth":"auto","bgcolor":"#000","hcolor":"#f0f"});
        $("#bar2").xq_navbar({"type":"beat","liwidth":"avg","bgcolor":"#000","hcolor":"#f0f"});
        $("#bar3").xq_navbar({"type":"line","liwidth":"avg","bgcolor":"#000"});
        $("#bar4").xq_navbar({"type":"overline","liwidth":"120","bgcolor":"#000"});
        $("#bar5").xq_navbar({"type":"block","liwidth":"avg","bgcolor":"#000","hcolor":["blue","rgb(10,100,100)","red","pink","green","rgba(23,234,22,1)","rgb(230,230,230)"]});
    });
    var get_port_url = "{% url "get_port" %}";
    var send_ip = "{{ ip }}";
</script>
<script type="text/javascript" src="{% static "searchapp/js/detial.js" %}"></script>
</body>
</html>