{% load static %}
<script>var get_new_msg_url = "{% url "getnewmsg" %}";</script>
<script>var get_process_url = "{% url "getprocess" %}";</script>
<script src="{% static "search_manager/js/messag.js" %}"></script>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" id="boot_time"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal">IP:{{ ip }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" id="send_speed"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" id="recv_speed"></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span id = "message_num" style="display: none" class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i  id= "new_msg_flag" style="display: none" class="fa fa-fw fa-circle"></i>
            </span>
        </a>
        <div id="new_mesg_list" class="dropdown-menu" aria-labelledby="messagesDropdown"></div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"href="http://127.0.0.1">主页</a>
    </li>
</ul>
<script>var logout_url = "{% url "logout" %}"</script>