{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <title>SearchApp 后台</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static "search_manager/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static "search_manager/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static "search_manager/css/sb-admin.css" %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url "manager" %}">SearchApp 后台管理系统</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      {% include "search_manager/smg_left_panel.html" %}
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
        {% include "search_manager/smg_heard_nav.html" %}
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Navbar</li>
      </ol>
      <h1>Navbar</h1>
      <hr>
      <p>The SB Admin navbar can be either fixed or static, and it supports the navbar-light and navbar-dark Bootstrap 4 classes.</p>
      <a class="btn btn-primary" href="#" id="toggleNavPosition">Toggle Fixed/Static Navbar</a>
      <a class="btn btn-primary" href="#" id="toggleNavColor">Toggle Navbar Color</a>
      <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
      <div style="height: 1000px;"></div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    {% include "search_manager/smg_footer.html" %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
      {% include "search_manager/smg_logout.html" %}
      <!-- Bootstrap core JavaScript-->
      <script src={% static "search_manager/vendor/jquery/jquery.min.js" %}></script>
      <script src={% static "search_manager/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
      <!-- Core plugin JavaScript-->
      <script src={% static "search_manager/vendor/jquery-easing/jquery.easing.min.js" %}></script>
      <!-- Custom scripts for all pages-->
      <script src={% static "search_manager/js/sb-admin.min.js" %}></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });

    </script>
  </div>
  <script src="{% static "search_manager/js/admin_login.js" %}"></script>
</body>

</html>
