{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>404 Not Found</title>
<!-- Custom Theme files -->
<link href="{% static "public_style/css/style.css" %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--404 page start here-->
<div class="not-found">
	<div class="notfound-top" align="center">
	    <h1>404</h1>
        <a style="color: black;" href="http://127.0.0.1">返回首页</a>
    </div>
	<div class="content">
		<img src="{% static "public_style/images/green.png" %}" alt="" title="">
        <h3>
            有些人毕生追求的就是有些人与生俱来的。在生命完结的时候，有些人得到了他们毕生追求的东西，有些人却失去了他们与生俱来的东西。──鲁迅
        </h3>
		<ul class="social-icon">
			<li><a  class="fa" href="#"> </a></li>
			<li><a  class="tw" href="#"> </a></li>
			<li><a  class="g" href="#"> </a></li>
		</ul>
	</div>
  <div class="clear"> </div>
</div>
<div class="copyright">
	<p>© SearcpApp By Elloit Team 2017 </p>
</div>
</body>
</html>